@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* 전체 페이지 스타일 */
/* 웹 문서 전체 글꼴에 대한 스타일 적용부분 */
body {
    font-family: "Noto Sans KR", sans-serif, "맑은 고딕";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* 추가요소 스타일 적용부분 */
    color: #333;
    background-color: #f4f4f4;
}

/* 전체 프레임에 해당하는 container 스타일 적용부분 */
div.container {
    background-color: #fff;
    max-width: 1024px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

header h1 {
    margin: 0px;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black, 2px 2px 3px #fff;
}

/* 네비게이션 스타일 적용부분 */
nav ul {
    list-style-type: none;
    border: 1px solid white;
    border-top: 2px solid #fff;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding-top: 10px;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    padding: 5px 20px;
    letter-spacing: 2px;
    /* background-color: green;  */
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* ==== */
/* ==== */
/* nav ul>li>ul.submenu태그를 사라지게끔 하고
이후에 마우스를 nav ul>li태그에 갖다대면 보이도록 코드 수정*/

/* ul.submenu에 부모요소인 li태그에 position: relative; 적용!!  */
nav ul li {
    position: relative;
}

/* ul.submenu에 대해서 사라지겠금 하되...반드시  position: absolute; 적용!!
top: 0px 적용하고...이후에 위치값을 이동하면서 조절한다.  */
nav ul li ul.submenu {
    display: none;
    position: absolute;
    top: 25px;
    /*부모태그인 li태그에서 아래로 떨어져야될 간격*/
    left: 10px;
    background-color: #35424a;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;

    width: 150px;
}

nav ul>li>ul.submenu>li {
    display: block;
    margin: 0px;
    padding: 5px 0px;
}

nav ul>li>ul.submenu>li a {
    color: white;
    text-decoration: none;
}

/* 위 내용으로 코드 정리가 완료되면...
 nav ul>li 태그에 마우스오버 하면 서브메뉴가 보이도록 코드작성*/
nav ul li:hover>ul.submenu {
    display: block;
    animation: slideDown 0.3s ease-in-out forwards;
}

/* 해당하는 서브메뉴를 @keyframe을 이용해서 애니메이션 적용하기 */
@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 0.7;
    }
}

/* 메인메뉴 ul li태그와 ul.submenu에 자식인 li태그에 대한 스타일 적용 */
nav ul li:hover {
    background-color: #3a494f;
}

nav ul li:hover a {
    columns: #ffffff;
}

/* ==== */
/* ==== */
/* div.space에 대한 스타일 적용부분 */
div.space{
    height: 300px;
    display: flex;
    justify-content: center; /*가로에 대한 중앙*/
    align-items: center;/*높이에 대한 중앙*/
    background-color: #eaeaea;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
}
div.space img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out; /*이미지 확대 애니메이션 추가*/
}
div.space img:hover{
    transform: scale(1.1); /*마우스오버시 이미지 살짝 확대*/
    
    /* 추가부분 */
    /* opacity: 0.5; */
}

/* ==== */
/* ==== */
/* main에 대한 스타일 적용부분 */
main{
    padding: 20px 0px;
    background-color: #eaeaea;  
    border-radius: 10px;
}
section{
    margin-bottom: 30px;
}

h2{
    color: #35424a;
    border-bottom: 2px solid  #35424a;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* 1. 강아지 입양에 대한 스타일 적용부분 */
section#section1 p{
    margin-left: 92px;
}


/* 2. 강아지 종류에 대한 스타일 적용부분 */
/* 소형강아지, 대형강아지 내용이 오른쪽을 50px 이동하기 */
section#section2 h3,
section#section2 ul,
section#section2 ol{
    margin-left: 50px;
}

section#section2 ul,
section#section2 ol{
    padding-left: 42px;
}


/* 3. 반려견 이미지에 대해서 정확하게 배치하기...숙제@! */
/* div.div_img라는 클래스 이름을 갖고있는 태그안에 img수정하기~ */
div.container  div.div_img{
    width: auto;
    height: auto;
    margin: 0px auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 10px;
}

div.container  div.div_img{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
div.container  div.div_img  img{
    /* width: 32%;  */
    width: 95%; /* 부모의 너비 기준으로 이미지 너비 설정하기*/
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
div.container .div_img img:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}



/* 3. 반려견 이미지 section3에 더 많은정보라는~ 문장인 p태그에 대한 스타일 */
section#section3 p{
    background-color:  #35424a;
    color: #ffffff;
    text-align: right;    
    padding: 10px 20px 10px 0px;
}
section#section3 p>a{
    text-decoration: none;
    color: #ffffff;
}


/*footer 스타일 적용하기 */
footer{
    text-align: center;
    padding: 20px;
    background-color:  #35424a;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 5px;
}


/* 반응형 웹 문서 작성을 위한 @media 쿼리 학습 */
@media (max-width: 600px){
    .container{
        width: 95%;
        padding: 10px;
    }
    
    header h1 {
        font-size: 1.5em;
        color: yellow;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px black, 2px 2px 3px #fff;

    }

    nav ul li{
        display: block;
        width: 90%;
        margin-top: 5px;
    }
}